button {
  background: none;
  border: none;
  color: $text-color;
  cursor: pointer;
  margin: 0;
  padding: 12px;
  transition: background 0.3s, color 0.3s;
  user-select: none;

  &:active {
    background: $dividers-color;
    color: $secondary-color;
  }

  i.material-icons {
    vertical-align: middle;
  }
}
