// General colors
$background-color: #ffffff;
$basic-color: #000000;
$text-color: rgba($basic-color, 0.87);
$secondary-color: rgba($basic-color, 0.54);
$hint-color: rgba($basic-color, 0.38);
$dividers-color: rgba($basic-color, 0.12);

// Terminal colors
$terminal-default-color: #9E9E9E;
$terminal-out-color: #F44336;
$terminal-in-color: #2196F3;
