.send-form {
  display: flex;
  flex-shrink: 0;

  input {
    background: none;
    border: none;
    color: $text-color;
    flex-grow: 1;
    font: normal 16px/1.5 'Roboto Mono', monospace;
    padding: 0 8px;

    &::placeholder {
      color: $secondary-color;
    }
  }

  button {
    flex-shrink: 0;
  }
}
