.terminal {
  border: 1px solid $dividers-color;
  border-width: 1px 0;
  flex-grow: 1;
  overflow: auto;
  padding: 4px 0;

  div {
    color: $terminal-default-color;
    line-height: 1;
    padding: 4px 8px;
    word-break: break-word;

    &.out {
      color: $terminal-out-color;
    }

    &.in {
      color: $terminal-in-color;
    }
  }
}
