.toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0;

  .name {
    flex-grow: 1;
    padding: 0 8px;
    user-select: none;
  }

  .buttons {
    flex-shrink: 0;

    button {
      float: left;
    }
  }
}
